//breakpoint
$breakpoint-mobile-s:400px;
$breakpoint-mobile:450px;
$breakpoint-tablet:758px;
$breakpoint-desktop:1024px;

//animation
$down-animation:"down-animation";

//mediaquery mixin
@mixin mobiles{
    @media (max-width:#{$breakpoint-mobile - 1px}) {
        @content;
    }
}

@mixin mobile{
    @media (max-width:#{$breakpoint-tablet - 1px}) {
        @content;
    }
}

@mixin tablet{
    @media (min-width:#{$breakpoint-tablet}) and (max-width:#{$breakpoint-desktop - 1px}){
        @content;
    }
}

@mixin desktop{
    @media (min-width:#{$breakpoint-desktop}){
        @content;
    }
}

//animation
@mixin animation ($delay, $duration, $name) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $name
}

@mixin keyframe ($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}


@include keyframe (down-move) {
    100% {
        transform: translateX(100px);
    }0%{
        transform: translateX(0px);
    }
}

//변수저장
@mixin title {
    text-align: center;
    font-size:60px;
    margin-top:0;
    font-weight: 700;
    letter-spacing: -3px;
    color:#000;
    padding-bottom:30px;
}

//js addclass
.click-header{
    transform:scale(1.2);
    transition:all .3s;
    letter-spacing: -1px;
}
.showing{
    z-index: 1;
    opacity: 1;
}

body,html{
    margin:0;
    padding:0;
    // min-width:300px;
    // width:100%;
    overflow-x: hidden;
}
.content-first{
    height:100vh;
    position: relative;
    .content-header{
        background-color: none;
        display: flex;
        justify-content: space-evenly;
        align-items:flex-end;
        position:fixed;
        top:0;
        left:0;
        right:0;
        transition:all .5s; 
        z-index:5;
        span{
            &:hover, &:active{
                transform: scale(1.2);
            }
            font-size:25px;
            font-weight: 700;
            cursor:pointer;
            transition: all .15s;
        }
        .img-div{

                img{
                    width:100px;
                    height:100px;
                    cursor:pointer;
                    transition:all .3s;
                    &:hover{
                        transform:scale(1.1);   
                    }
                }
        }
    }
    .content-main{
        height:100vh;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:-1;
        .main-img{
            height:100vh;
            width:100vw;
        }
        .main-video{
            position: absolute;
            top: 35%;
            right: 14%;
            width: 38vw;
            height: 439px;
        }
        .greeting-main{
            z-index: 1;
            position:absolute;
            top:40%;
            left:10%;
            letter-spacing: -1px;
            font-size:1.3em;
            .greeting1{
                font-weight: 700;
                font-size:50px;
                margin-bottom:0;
            }
            .greeting2{
                font-weight:700;
            }

        }
    }
    #down-btn{
        position: absolute;
        bottom:0;
        left:50%;
        transition:all .3s;
        @include animation (0s, 4s, down-move);
    }
}

.content-second{
    margin-top:20vh;
    height:inherit;
    display:flex;
    flex-direction: column;
    .title{
        @include title;
    }
    .box-container{
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        .imo-img{
            width:250px;
            height:250px;
        }
        .desc-box{
            background-color: #529cf4;
            width: 45%;
            height: 20vh;
            color: #fff;
            padding: 25px 40px;
            box-shadow:0 0 3px #529cf4;

            &:nth-child(2n){
            border-radius: 50px 50px 50px 0;
            }
            &:nth-child(2n-1){
            border-radius: 50px 50px 0px 50px;
            }

            span{
                font-size:30px;
                font-weight:700;
                letter-spacing: -1px;
            }
        }

    }
}

.gradient-div{
    height:20vh;
    background:linear-gradient(#fff,#e9e8e6);
}

.content-third{
    background-color:#e9e8e6;
    height:inherit;
    padding-top:20vh;
    .title{
        @include title;
    }
    .box-inner{
        display:flex;
        .box-container{
            width:50%;
            margin:0 auto;
            display:flex;
            flex-direction: column;
            .hobby-img{
                position:relative;
                width:100%;
                height:0;
                padding-bottom:100%;
                
                iframe, .perfume-img{
                    position: absolute;
                    width:80%;
                    height:80%;
                    border-radius: 10px;
                    left:10%;
                }
            }
            .hobby-box{
                font-size:2em;
                span{
                    font-weight:700;
                    font-size:1.5em;
                    letter-spacing: -2px;
                    text-align: center;
                }
            }
        }
    }
}
.gradient-div2{
    height:20vh;
    background:linear-gradient(#e9e8e6,#d2d2d2);
}
.content-fourth{
    background-color:#d2d2d2;
    height:inherit;
    padding-top:20vh;
    padding-bottom:5vh;
    .title{
        @include title;
    }
    table{
        width:80%;
        margin:0 auto;
        box-shadow: 0 0 15px #000;
        border-collapse: collapse;
        background: #dee2e6;
        tr{
            &:first-child{
                text-align:center;
                font-size: 1.3em;
                letter-spacing: -2px;
                td{
                    padding:20px 0;
                }
            }
            .logo-td{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding:10px;
                margin-bottom: -1px;
                img{
                    width:60px;
                    height:60px;
                }
            }
            td{
                border-bottom: 1px solid #706f6f;
                &:last-child{
                    text-align: center;
                    // text-shadow: 0 0 2px #000;
                }
                &:nth-child(2){
                    padding:0 15px;
                }
            }
            .star{
                min-width:100px;
                text-shadow: 0 0 2px #000;
            }
        }
    }
}
.gradient-div3{
    height:30vh;
    background:linear-gradient(#d2d2d2,#529cf4);
}
.content-footer{
    height:10vh;
    background:#529cf4;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    .contact{
        
    a{
        text-decoration: none;
        color:#fff;
        margin:0 20px;
    }
}
    .right{
        margin-top:30px;
    }
}

//media query include
@include mobile{//458px~757px까지
    .content-first{
        position:static;
        .content-header{
            padding-bottom:10px;
            position:fixed;
            top:0;
            left:0;
            right:0;
            transition:all .5s;
            .img-div{
                width:70px;
                height:70px;
                .logo-img{
                    width:70px;
                    height:70px;
                }
            }
            span{
                font-size:18px;
                color:#000;
                &:first-child::first-letter{
                    color:#000;
                }
            }
        }
        .content-main{
            .main-img{
                position:absolute;
                clip: rect(0px, 100vw, 40vh, 0px);
            }
            .main-video{
                width:80%;
                height:60vh;
                position: absolute;
                left:10%;

            }
            .greeting-main{
                top:20%;
                width:68%;
                margin:0 auto;
                text-align:left;
                letter-spacing: -1px;
                .greeting2{
                    font-size:25px;
                    letter-spacing: -2px;
                }
            }
        }
    }
    .content-second{
        .box-container{
            display:flex;
            flex-direction: column;
            position: relative;
            .imo-img{
                position: absolute;
                top: 0px;
                width: 130px;
                height: 130px;
                left: 0;
            }
            .imo3{
                width: 110px;
                height: 110px;
                top:20px;
            }
            .desc-box{
                width:80%;
                margin:60px auto;
                text-align: center;
            }
        }
    }
    .content-third{
        .box-container{
            .hobby-box{
                width:80%;
                margin:0 auto;
                span{
                    font-size:1em;
                }
                p{
                    font-size:0.7em;
                }
            }
        }
    }
    .content-fourth{
        table{
            width:90%;
            tr{
                border-collapse: collapse;
                height:70px;
                .logo-td{
                    height:inherit;
                    display:table-cell;
                    span{
                        display:none;
                    }
                }
                td{
                    &:nth-child(2){
                        font-size:8px;
                    }
                    font-size:8px;
                    
                }
            }
        }
    }
}
@include mobiles{ //458이하
.content-first{
    .content-main{
        width:100%;
        margin:0 auto;
        .greeting-main{
            .greeting1{
                font-size:2em;
            }
            span{
                font-size:1em;
            }
        }
        .main-img{
            width:100%;
            margin:0 auto;
        }
    }
}
.content-second{
    .box-container{
        width:83%;
        margin:0 auto;
        .imo-img{
            position: absolute;
            top: 0px;
            width: 130px;
            height: 130px;
            left: -44px;
        }
        .desc-box{
            border-radius:0px;
            span{
                font-size:1.3em;
            }
            p{
                font-size:0.7em;
                margin:0;
            }
        }
    }
}
}
@include tablet{ //758~1024px까지

}
@include desktop{ //1024px이상

}
