//breakpoint
$breakpoint-mobile:450px;
$breakpoint-tablet:758px;
$breakpoint-desktop:1024px;

//mediaquery mixin
@mixin mobile{
    @media (min-width:#{$breakpoint-mobile}) and (max-width:#{$breakpoint-tablet - 1px}) {
        @content;
    }
}

@mixin tablet{
    @media (min-width:#{$breakpoint-tablet}) and (max-width:#{$breakpoint-desktop - 1px}){
        @content;
    }
}

@mixin desktop{
    @media (min-width:#{$breakpoint-desktop}){
        @content;
    }
}


body,html{
    margin:0;
    padding:0;
}
.content-first{
    height:100vh;
    position: relative;
    .content-header{
        background-color: none;
        display: flex;
        justify-content: space-evenly;
        align-items:flex-end;
        
        span{
            &:nth-child(2){
                color:#fff;
            }
            &:hover, &:active{
                transform: scale(1.2);
            }
            font-size:25px;
            font-weight: 700;
            cursor:pointer;
            transition: all .15s;
        }
        .img-div{

                img{
                    width:130px;
                    height:130px;
                }
        }
    }
    .content-main{
        height:100vh;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:-1;
        .main-img{
            height:100vh;
            width:100vw;
        }
        .main-video{
            position: absolute;
            top: 35%;
            right: 14%;
            width: 38vw;
            height: 439px;
        }
        .greeting-main{
            z-index: 1;
            position:absolute;
            top:40%;
            left:10%;
            letter-spacing: -1px;
            font-size:1.3em;
            .greeting1{
                font-weight: 700;
                font-size:50px;
                margin-bottom:0;
            }
            .greeting2{
                font-weight:700;
            }

        }
    }
}
.content-second{
    height:100vh;
    background-color: beige;
}

//media query include
@include mobile{//458px~757px까지

}
@include tablet{ //758~1024px까지

}
@include desktop{ //1024px이상

}